*{
    color: #e3e3e3;
    font-family: "Google Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.app{
    background-color: #131314;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.Toastify__toast-container {
    z-index: 999999 !important;
}

.Toastify__toast {
    border-radius: 18px !important;
    background: #1e1f20 !important;
    color: white !important;
    border: 1px solid rgba(255,115,0,0.12);
}

.Toastify__progress-bar {
    background: linear-gradient(
        90deg,
        #ff8c1a,
        #ff4d2e
    ) !important;
}