.sidebar {
    width: 20rem;
    height: 100dvh;
    flex-shrink: 0;
    background-color: #1e1f20;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;

    transition:
        transform 0.3s ease,
        margin-left 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
    margin-left: 0;
}

.sidebar.closed {
    transform: translateX(-100%);
    margin-left: -20rem;
}

.sidebar button {
    width: calc(100% - 1.2rem);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 1rem;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* button:hover{
    background-color:#282a2c ;
} */

.sidebar button:hover {
    background:
        linear-gradient(90deg,
            rgba(255, 115, 0, 0.06),
            #282a2c);
}

.logo {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar button span {
    font-size: 1.25rem;
}

.history {
    margin: 0.6rem;
    padding: 0.6rem;
    height: 100%;
    flex: 1;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.history::-webkit-scrollbar {
    display: none;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 0.4rem 2rem 0.4rem 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    border: solid 0.6rem transparent;
    position: relative;
}


.history li:hover {
    background:
        linear-gradient(90deg,
            /* rgba(255,115,0,0.05), */
            #282a2c);

    border-radius: 0.6rem;
}

.sign {
    margin: 0.6rem;
    padding: 0.6rem;
    font-size: 1rem;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-ellipsis {
    opacity: 0;
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
}

.history li:hover .fa-ellipsis {
    opacity: 1;
}

.dropDown {
    position: absolute;
    right: 0;
    top: 100%;
    background: #393a3a;
    border-radius: 10px;
    min-width: 120px;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

.dropDownItem {
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropDownItem:hover {
    background: #4b4b4b;
}

.delete {
    color: #ad3232;
}

@media (max-width:768px){

    .sidebar{
        position: fixed;
        left: 0;
        top: 0;

        width: min(78vw, 18rem);
        min-height: 100dvh;

        z-index: 1000;

        transition: transform 0.3s ease;
    }

    .sidebar.open{
        transform: translateX(0);
    }

    .sidebar.closed{
        transform: translateX(-100%);
    }
}